<!DOCTYPE html>
<html lang="en">

<head>
    <title>gitsuggest</title>
    <link
        rel="icon"
        href="{{ url_for('static', filename='images/logo.ico') }}"
        type="image/gif"
        sizes="16x16">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/beta.css') }}">
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/search.css') }}">
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/sidebar.css') }}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async defer src="https://platform.twitter.com/widgets.js"></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8148369069673578",
        enable_page_level_ads: true
      });
    </script>
</head>

<body>
    <div class="container">
        <div class="ribbon"><span>BETA</span></div>
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-nav-fixed">
                    <div class="well">
                        <ul class="nav">
                            <img src="{{ url_for('static', filename='images/logo.png') }}">
                            <a
                                class="github-button"
                                href="https://github.com/csurfer/gitsuggest"
                                data-size="large"
                                data-show-count="true"
                                aria-label="Star csurfer/gitsuggest on GitHub">Star gitsuggest</a>

                            <br>

                            <h4>About</h4>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    An experimental tool which uses LDA to suggest github repositories
                                    based on the repositories you have shown interest in.
                                </div>
                            </div>

                            <h4>Contribute</h4>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <!--Via Payal :-->
                                    <a
                                        href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3BSBW7D45C4YN&lc=US&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted">
                                    <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-34px.png">
                                    </a>
                                    <!--<br>
                                    Via ETH :
                                    <pre>0x4B209CF9f8fd546F8Ca6CA5aA4d0036fFDe9e52B</pre><br>-->
                                </div>
                            </div>

                            <h4>Stay Connected</h4>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a
                                        class="github-button"
                                        href="https://github.com/csurfer"
                                        aria-label="Follow @csurfer on GitHub"
                                        data-size="large">Follow @csurfer</a><br>
                                    <a
                                        class="twitter-follow-button"
                                        href="https://twitter.com/sharmavishwas7"
                                        data-show-count="false"
                                        data-size="large">Follow @sharmavishwas7</a><br>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a
                                        href="https://saythanks.io/to/csurfer"
                                        target="_blank">
                                        <b>Say Thanks!</b>
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {% block content %}{% endblock %}
                <div class="footer" align="right">
                    {% block footer %} &copy; 2017 <a href="https://csurfer.github.io/">Vishwas B Sharma</a>{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {# GitHub Ribbon #}
    <a href="https://github.com/csurfer/gitsuggest"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

</body>

</html>