{% extends "base.htm.j2" %}

{% block content %}

<div class="jumbotron">
    <h1>gitSuggest</h1>
    <p>A tool to suggest github repositories based on the repositories you have shown interest in.</p>
</div>

<div class="jumbotron">
    <p>

    One quick way to level up as a programmer, is by reading code written by
    smart people. Github makes finding such code/repositories easy. At the
    end of the day, we all are interested in our own specific areas and we
    express this interest by “starring” repositories on github.<br><br>

    This is a tool which uses the repositories you have starred to help you
    discover other github repositories which might be of interest to
    you.<br><br>

    This is a pet project of a philomath and in no way associated
    with <a href="https://github.com/" target="_blank">GitHub</a>.

    <br><br>

    </p>
    <p class="lead" style="margin-bottom:-15px">
        <div align="center">
        <a
            class="btn btn-success btn-lg"
            href="/login"
            role="button">
            Login using GitHub
        </a>
        </div>
    </p>
</div>

{% endblock %}